$textColorWhite: #ffffff;
$textColorOrange: #FF473A;
$fontSize: 24px;
$fontFamily: 'TeleNeoWeb';
$textDecorationNone: none;
$fontSize82: 82px;
$textTransformUpp: uppercase;
$checkbox-size: 20px;
$checkbox-border: #cecece;
$checkbox-selected: #FF473A;